<footer>
    <ul>
      <li>
        <a href="https://facebook.com">
          <img class="icons" src="images/facebook.png" alt="Facebook">
        </a>
      </li>
      <li>
        <a href="https://instagram.com">
          <img class="icons" src="images/instagram.png" alt="Instagram">
        </a>
      </li>
      <li>
        <a href="https://twitter.com">
          <img class="icons" src="images/twitter.png" alt="Twitter">
        </a>
      </li>
      <li>
        <a href="https://gmail.com">
          <img class="icons" src="images/gmail.png" alt="Gmail">
        </a>
      </li>
    </ul>
  </footer>
</body>
</html>