<%- include('partials/header')%>
<main>
	<section class="topPage"">
		<div class=" container">
			<div class="areaLogo">
				<img src="/images/logo_cor.png" alt="logotipo">
			</div>
			<div class="areaNav">
				<ul>
					<li>início</li>
					<li>serviços</li>
					<li>calendário</li>
					<li>contato</li>
				</ul>
			</div>
			<div class="areaAccount">
				<a href="#" class="btnAccount">minha conta</a>
			</div>
		</div>
	</section>

	<!-- --------------------   BANNER   ------------------------------ -->
	<section class="bannerHome">
		<img src="/images/banner pousada2.jpg" alt="banner">
	</section>

	<!-- ---------------------   ABOUT   ------------------------------- -->
	<section class="aboutHome">
		<div class="container">
			<div class="txtAbout">
				<div class="titleAbout">
					<h1>Nossa História</h1>
					<span class="rowDiv"></span>
				</div>
				<div class="descAbout">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta, lectus non eleifend malesuada, odio felis elementum massa, nec vehicula enim risus at dolor. Suspendisse vitae orci est. Duis id auctor justo, ultrices varius eros. Maecenas faucibus congue turpis, sed dapibus massa vestibulum nec. Vestibulum diam mauris, aliquet quis tincidunt non, fermentum in libero. Cras tellus tortor, pharetra vitae felis vel, rhoncus feugiat orci. Nullam non arcu nec nisi sagittis hendrerit. Cras ante erat, fermentum ac tellus sit amet, scelerisque ullamcorper nisi.</p>
				</div>
			</div>
			<div class="imgAbout">
				<div class="imgAreaAbout"></div>
			</div>
		</div>
	</section>

	<!-- --------------------------   OUR PRODUCTS    ---------------------- -->


	<section class="ourProducts">
		<div class="container">
			<div class="titleWidget">
				<div class="rowDiv"></div>
				<h1>Os mais procurados</h1>
			</div>
			<div class="areaCards">
				<div class="cardItem">
					<div class="imgAreaCard">
						<img src="" alt="">
					</div>
					<div class="infoProduct">
						<h3 class="nameProduct">Pacote Basic</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta, lectus non eleifend malesuada, odio felis elementum massa, nec vehicula enim risus at dolor. </p>
					</div>
					<div class="footerProduct">
						<div class="priceProduct">
							<span>a partir de</span>
							<span class="value">R$ 300,00</span>
						</div>
						<div class="btnProduct">
							<a href="#" class="btnReserve">Reservar</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</main>
<%- include('partials/footer') %> 