<%- include('partials/header')%>

    <main>
      
      <div class="services">
        <h4>Serviçosque nossa Pousada oferece:<h4>
          <li>Wi-Fi Gratis e Tomada Ethernet de ate 20MB</li>
          <li>Limpeza Diaria: R$ 60</li>
        <li>Banquetes:A partir de R$150</li>
      </div>
      
        
       <table id="reservas">
          <tr>
              <th>N°Quarto</th>
              <th>Data de Entrada</th>
              <th>Data de Saida</th>
              <th>Valor da Estadia</th>
          </tr>
          <tr>
              <td>150</td>
              <td> 28/09/2023</td>
              <td>03/10/2023</td>
              <td>R$2.500,00</td>
          </tr>
          <tr>
              <td>13</td>
              <td>10/02/2023</td>
              <td>25/02/2023</td>
              <td>R$1.500,00</td>
          </tr>
       </table>
    </main>
    <%- include('partials/footer') %>     
    