<%- include('partials/header')%>


<main>
    <section class="login">
        <form action="/login" method="post">
            <section>
                <h1>Login <img src="/pagina-1/style/sunbed.png" alt=""></h1>
                <br>
              <label for="usuario"></label>
              <input type="text" name="usuario" id="usuario" placeholder="Usuário">
            </section>
            <br>
            <section>
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Senha">
            </section>
            <br><br>
            <button>Entrar</button>
            <br><br>
            <section>
                <a href = "/users/cadastro">
                    <h1>Criar conta</h1>
                </a>
            </section>
            

        </form>

    </section>

</main>
<%- include('partials/footer') %> 