<%- include('partials/header')%>

<body>
    
  
    <main>
      <div class="container">
        <div class="Reservas">
          <a href="#"> Reservas </a>
        </div>
        <div class="Tarifas">
          <a href="#"> Tarifas </a>
        </div>
        <div class="Clientes">
          <a href="#"> Clientes </a>
        </div>
        <div class="Relátorios">
          <a href="#"> Relatórios </a>
        </div>
        <div class="Painel-de-controle">
          <a href="#"> Painel de controle </a>
        </div>
      </div>
    </main>
  
  </body>

  <%- include('partials/footer') %> 